{% extends "base.html" %}

{% block page_title %}{{ app_config.site_title }}{% endblock page_title %}

{% block content %}

{% if featured_apps %}

<h2>Featured Applications</h2>

<div class="featured">
  {% for app in featured_apps %}
    {{ app_html(app, box=True) }}
  {% endfor %}
</div>

{% endif %}

<h2>Browse</h2>

<div class="browse">
  <ul>
  {% for keyword in keywords %}
    <li><a href="/keyword/{{keyword}}">{{keyword}}</a></li>
  {% endfor %}
  </ul>
</div>

<h2>Recently Added Applications</h2>

<div>
  {% for app in recent_apps %}
    {{ app_html(app, box=True) }}
  {% endfor %}
</div>

{% endblock %}
