<div class="app {% if box %}app-box{% else %}app-large{% endif %}">

{% if app.icon_url %}
<a href="{{ app.url }}"><img src="{{ app.icon_url }}" class="app-icon" /></a>
{% endif %}

<div class="app-name"><a href="{{ app.url }}">{{ app.name }}</a>
{% if app.hide and handler.is_admin() %}
(hidden)
{% endif %}
</div>

{% if app.manifest_developer %}
<div class="app-developer">
by
{% if app.manifest_developer.get('url') %}
  <a href="{{ app.manifest_developer['url'] }}">
  {{ app.manifest_developer.get('name') or app.manifest_developer['url'] }}
  </a>
{% else %}
  {{ app.manifest_developer['name'] }}
{% endif %}
</div>
{% endif %}

{% if app.description and not box %}
<div class="app-description">
  {{ format_description(app.description) }}
</div>
{% elif force_description %}
<div class="app-description">
  This application has no description.
</div>
{% endif %}

<div class="install">
  <button type="button" class="install-button"
   appurl="{{ app.manifest_url }}" apporigin="{{ app.origin }}">Install!</button>
</div>

</div>
