{% extends "base.html" %}

{% block page_title %}About {{ app_config.site_title }}{% endblock page_title %}

{% block content %}

<p>This site is a reference implementation of a application
<i>directory</i> for the <a href="http://apps.mozillalabs.com">Mozilla
Open Web Apps</a> project.  We hope to see other developers outside of
our group implementing directories and stores around this concept;
this site is meant to serve as an example, but also as a way for
people developing open web applications to show their work to each
other, and to help the Mozilla team understand exactly what people are
creating. </p>

<p>The code itself is located in <a
href="https://github.com/mozilla/openwebapps-directory/">a github
project</a>.  If you encounter issues or have ideas for enhancements
<em>for this site</em> the <a
href="https://github.com/mozilla/openwebapps-directory/issues">github
issue tracker</a> is a good place to keep those ideas.  But note that
this site <em>not</em> intended to be a complete example of a
user-facing application directory.  Mostly this is because we aren't
the best people to write such a thing. </p>

<p>If you do write a directory or store, we want to hear about your
experience!  Please write to us on the <a
href="http://groups.google.com/group/mozilla-labs">Mozilla Labs
Group</a>.  You can also find us on the <code>#openwebapps</code> IRC
channel on <a href="http://irc.mozilla.org/">irc.mozilla.org</a>. </p>

{% endblock %}
